In [ ]:
# Notebook to add, change, correct annotations
# conda env: curate_data

In [1]:
from functions import get_data
from normalize_data import get_unique_index
from run_checks import import_data
import pandas as pd
import os

# Import & Normalize Data

In [2]:
normalized_data = "../data/normalized/"
metadata = get_data(normalized_data)

In [3]:
def normalize_metadata(df, unique_index):
    """
    Function that uses union of all metadata fields to
    add missing fields to each cohort
    """
    df_index = df.iloc[:, 0]
    additional_items = [field for field in list(set(unique_index) - set(df_index)) if not field.startswith('field')]
    
    # get index of fields that should be replaced
    df.reset_index(inplace=True, drop=True)
    startpoint = min(df.loc[df['fieldname'].str.startswith('field', na=False)].index.tolist())
    endpoint = startpoint + len(additional_items) - 1
    df.loc[startpoint:endpoint, 'fieldname'] = additional_items
    df.iloc[startpoint:endpoint, 1:] = 'nd'
    
def add_ajcc_staging(df):
    """
    Function to add ajcc labels to the rows that miss a label,
    but have information about tnm.
    :param data: specific dataset
    :param index: index of rows that are to be modified
    """
    df_T = df.T

    tnm_to_ajcc = {
        'ptis':"0",
        ','.join(["t1n0m0", "t2n0m0"]):'i',
        ','.join(["t3n0m0", "t4n0m0"]):'ii',
        ','.join(['t1n1m0','t2n1m0', 't1n2m0', 't3n1m0', 't4n1m0', 't2n2m0', 't3n2m0']):'iii',
        ','.join([f"t{x}n{y}m1" for  x in range(1,5) for y in range(0,5)]):'iv'
    }

    tnm_index = df_T.loc[(df_T['ajcc'] == "nd") &
                         (df_T['tnm'] != "nd")].index.tolist()
    
    if tnm_index:
        for i in tnm_index:
            tnm_stage = df_T.loc[i, 'tnm']
            for key, ajcc_stage in tnm_to_ajcc.items():
                if tnm_stage in key:
                    df_T.loc[i, 'ajcc'] = ajcc_stage

        print(f"AJCC labels added for {str(len(tnm_index))} samples")

    else:
        print("No labels were added")

    # TODO extract values that are not allowed and curate them manually (e.g. tmn instead of tnm)
    tnm_values = [label for label in df_T['tnm'].tolist() if not label == 'nd']
    tnm_values = list(set([''.join(i for i in label if not i.isdigit()) for label in tnm_values]))
    tnm_values = [label for label in tnm_values if not label == 'tnm']

    if tnm_values:
        print(f"Some tnm labels have an unexpected format. Please Check!\n{tnm_values}")

In [4]:
# normalize the fields of the metadata headers to the union of all cohorts  in the dataset
metadata_union = get_unique_index(metadata)
for study, data in metadata.items():
    normalize_metadata(data, metadata_union)
    data.set_index("fieldname", inplace=True, drop=False)
    data.index.names = ['index']
    data.drop(columns=['fieldname'], inplace=True)

# Curate

In [5]:
# Add AJCC stage for samples that only have tnm annotations
for study, data in metadata.items():
    print(f"\n{study}")
    add_ajcc_staging(data)

YuJ_2015
No labels were added

ThomasAM_2018a
No labels were added

VogtmannE_2016
No labels were added

YachidaS_2019
No labels were added

WirbelJ_2018
No labels were added
Some tnm labels have an unexpected format. Please Check!
['tisnm']

FengQ_2015
AJCC labels added for 45 samples
Some tnm labels have an unexpected format. Please Check!
['ptis']

ThomasAM_2019_c
No labels were added

ThomasAM_2018b
No labels were added

GuptaA_2019
AJCC labels added for 30 samples
Some tnm labels have an unexpected format. Please Check!
['tmn']

ZellerG_2014
No labels were added
Some tnm labels have an unexpected format. Please Check!
['tnxm']

HanniganGD_2017
No labels were added

In [6]:
# modify potential false tnm labels and run ajcc annotating function again
dataset = metadata['GuptaA_2019'].T
dataset.loc[dataset['tnm'] == 't4n2m0', 'ajcc'] = "iii"
dataset.loc[dataset['tnm'] == 't2m0n0', 'ajcc'] = "i"

In [7]:
# dataset = metadata['FengQ_2015'].T
# dataset.loc[dataset['tnm'].str.startswith('p'), 'ajcc'] # = '0'

In [8]:
# dataset = metadata['ZellerG_2014'].T
# dataset.loc[dataset['tnm'].str.contains('x'), 'ajcc'] #= "iv"

In [9]:
dataset = metadata['YachidaS_2019'].T
dataset.loc[:, 'DNA_extraction_kit'] = 'Gnome'

In [10]:
dataset = metadata['ThomasAM_2019_c'].T
dataset.loc[:, 'DNA_extraction_kit'] = 'Gnome'

In [11]:
# for study in metadata:
#    print(f"\n{study}\n")
#    print(*[field for field in metadata[study].index if not "field" in field], sep="\n")

In [12]:
# # check ajcc stage information
# for study in metadata:
#     print(f"\n{study}\n")
#     dataset = metadata[study]
#     if "ajcc" in dataset.index:
#         print(dataset.loc['ajcc'].value_counts())
#         if 'tnm' in dataset.index:
#             dataset_T = dataset.T
#             print(dataset_T.loc[dataset_T['ajcc'] == 'iv', 'tnm'].unique())
#     else:
#         if 'tnm' in dataset.index:
#             print(dataset.loc['tnm'].unique())
#     # elif 'tnm' in dataset.index:
#     #     print(dataset.loc['tnm'].value_counts())

In [13]:
# # check for abx intake information
# for study in metadata:
#     dataset = metadata[study]
#     if 'antibiotics_current_use' in dataset.index:
#         print(study)
#         print(dataset.loc['antibiotics_current_use'].unique())
#     else:
#         print(study)

In [14]:
# # check disease labels
# for study in metadata:
#     dataset = metadata[study]
#     print(f"\n{study}\n")
#     print(dataset.loc['disease'].unique())

In [15]:
# # westernized labels
# for study in metadata:
#     dataset = metadata[study]
#     print(f"\n{study}\n")
#     print(dataset.loc['non_westernized'].unique())

In [16]:
# # check other annotations
# for study in metadata:
#     dataset = metadata[study]
#     print(f"\n{study}\n")
#     print(dataset.loc['disease_location'].unique())

## Exploratory Stuff

In [17]:
# look at all annotations in general again, per study
for study, dataset in metadata.items():
    print(study)
    dataset = dataset.T
    columns = [col for col in dataset.columns if not col.startswith("field")]
    for column in columns:
        print(dataset[column].value_counts())
        print("\n")

YuJ_2015
study_name
YuJ_2015    128
Name: count, dtype: int64


subject_id
SZAXPI017580-90     1
SZAXPI017581-93     1
SZAXPI017582-94     1
SZAXPI017583-102    1
SZAXPI017584-108    1
                   ..
SZAXPI003412-1      1
SZAXPI003413-4      1
SZAXPI003414-3      1
SZAXPI003415-12     1
SZAXPI003416-4      1
Name: count, Length: 128, dtype: int64


body_site
stool    128
Name: count, dtype: int64


antibiotics_current_use
no    128
Name: count, dtype: int64


study_condition
CRC        74
control    54
Name: count, dtype: int64


disease
CRC        45
healthy    38
CRC;T2D    29
T2D        16
Name: count, dtype: int64


age
64    16
62     8
65     7
58     6
73     6
61     5
68     5
77     5
59     5
54     4
69     4
71     4
55     4
60     4
70     4
74     4
67     3
56     3
63     3
50     3
51     3
83     3
53     2
79     2
52     2
75     1
72     1
80     1
89     1
45     1
66     1
44     1
57     1
78     1
49     1
81     1
76     1
34     1
Name: count, dtype: int64


age_category
adult     80
senior    48
Name: count, dtype: int64


gender
male      81
female    47
Name: count, dtype: int64


country
CHN    128
Name: count, dtype: int64


non_westernized
no    128
Name: count, dtype: int64


sequencing_platform
IlluminaHiSeq    128
Name: count, dtype: int64


DNA_extraction_kit
Qiagen    128
Name: count, dtype: int64


PMID
26408641    128
Name: count, dtype: int64


number_reads
48287820    1
37627614    1
50539146    1
40240288    1
44341480    1
           ..
55761702    1
64434830    1
52102228    1
62456910    1
60073374    1
Name: count, Length: 128, dtype: int64


number_bases
4645971246    1
3592068766    1
4977096921    1
3861481843    1
4339363261    1
             ..
5343486861    1
6090719237    1
4952005733    1
5958738352    1
5634395962    1
Name: count, Length: 128, dtype: int64


minimum_read_length
30    128
Name: count, dtype: int64


median_read_length
100    128
Name: count, dtype: int64


NCBI_accession
ERR1018297    1
ERR1018298    1
ERR1018299    1
ERR1018300    1
ERR1018301    1
             ..
ERR1018188    1
ERR1018189    1
ERR1018190    1
ERR1018191    1
ERR1018192    1
Name: count, Length: 128, dtype: int64


curator
Paolo_Manghi    128
Name: count, dtype: int64


BMI
23.7    4
24.5    4
22.5    4
25.6    4
21.7    3
       ..
27.7    1
21.3    1
31.3    1
22.8    1
18.9    1
Name: count, Length: 73, dtype: int64


diet
omnivore    128
Name: count, dtype: int64


disease_subtype
carcinoma    74
nd           54
Name: count, dtype: int64


tnm
nd        54
t3n0m0    23
t3n1m0    14
t1n0m0    12
t2n0m0     6
t3n2m0     5
t2n1m0     3
t3n3m1     2
t3n1m1     2
t4n2m0     2
t3n0m1     2
t4n1m1     1
t4n0m0     1
t4n2m1     1
Name: count, dtype: int64


triglycerides
nd          26
 79.7130    13
115.1410     9
123.9980     8
 97.4270     8
 53.1420     7
 70.8560     6
 44.2850     5
 88.5700     5
159.4260     4
 61.9990     4
106.2840     4
141.7120     3
177.1400     2
132.8550     2
203.7110     2
265.7100     2
150.5690     1
 42.5136     1
194.8540     1
138.1692     1
212.5680     1
309.9950     1
191.3112     1
 74.3988     1
 95.6556     1
117.7981     1
 92.1128     1
118.6838     1
 80.5987     1
 35.4280     1
 67.3132     1
256.8530     1
451.7070     1
 32.7709     1
Name: count, dtype: int64


hdl
nd          26
 42.5370    16
 50.2710    10
 54.1380    10
 38.6700     8
 58.0050     7
 73.4730     6
 61.8720     5
 69.6060     5
 46.4040     5
 85.0740     3
 65.7390     3
 77.3400     3
 81.2070     3
 34.8030     3
 19.3350     2
 30.9360     2
 92.8080     2
104.4090     1
 49.4976     1
 55.6848     1
 53.7513     1
135.3450     1
 88.9410     1
 50.6577     1
 51.4311     1
 78.8868     1
Name: count, dtype: int64


ldl
nd          26
127.6110     7
100.5420     6
 92.8080     6
116.0100     5
123.7440     5
 81.2070     5
 58.0050     4
112.1430     4
 96.6750     4
146.9460     4
 73.4730     3
119.8770     3
143.0790     3
 61.8720     3
 85.0740     3
 88.9410     3
166.2810     2
135.3450     2
104.4090     2
 27.0690     2
 69.6060     2
 77.3400     2
158.5470     2
108.2760     2
154.6800     2
139.2120     1
131.4780     1
 65.7390     1
193.3500     1
150.8130     1
185.6160     1
 54.1380     1
165.5076     1
201.0840     1
170.1480     1
157.0002     1
162.4140     1
 46.4040     1
189.4830     1
177.8820     1
 78.5001     1
Name: count, dtype: int64


smoker
nd     54
no     54
yes    20
Name: count, dtype: int64


ever_smoker
nd     54
no     51
yes    23
Name: count, dtype: int64


disease_location
nd        63
rectum    28
lc        26
rc        11
Name: count, dtype: int64


cholesterol
nd          26
170.1480     6
177.8820     6
193.3500     6
189.4830     5
224.2860     5
158.5470     5
162.4140     5
220.4190     5
232.0200     4
201.0840     4
197.2170     4
174.0150     3
204.9510     3
146.9460     3
154.6800     3
228.1530     3
255.2220     3
127.6110     2
239.7540     2
135.3450     2
112.1430     2
235.8870     2
166.2810     2
332.5620     1
104.4090     1
278.4240     1
123.7440     1
247.4880     1
131.4780     1
150.8130     1
208.8180     1
116.0100     1
139.2120     1
259.0890     1
181.7490     1
243.6210     1
100.5420     1
274.5570     1
185.6160     1
163.9608     1
Name: count, dtype: int64


creatinine
nd     21
 74     7
 85     5
 66     5
 58     4
 70     4
 65     4
 87     3
 86     3
 72     3
 52     2
 49     2
 89     2
 76     2
 62     2
 57     2
 97     2
 71     2
 56     2
 93     2
100     2
 55     2
 92     2
 73     2
 88     2
 81     2
 63     2
 96     2
 75     2
 61     2
 69     2
107     1
152     1
 48     1
 94     1
128     1
 43     1
 45     1
104     1
101     1
115     1
 78     1
 60     1
 50     1
 54     1
 99     1
 41     1
121     1
202     1
 67     1
 51     1
 90     1
 79     1
 77     1
 91     1
102     1
 82     1
 84     1
Name: count, dtype: int64


fasting_glucose
nd       28
108.0     7
 97.2     7
 84.6     6
 90.0     6
 93.6     6
 82.8     5
 99.0     5
 91.8     5
 86.4     4
100.8     3
 95.4     3
109.8     3
102.6     3
131.4     2
 79.2     2
113.4     2
126.0     2
106.2     2
 88.2     2
151.2     2
124.2     2
104.4     2
 77.4     2
115.2     2
129.6     1
140.4     1
133.2     1
237.6     1
147.6     1
189.0     1
 81.0     1
172.8     1
111.6     1
138.6     1
178.2     1
144.0     1
183.6     1
169.2     1
225.0     1
Name: count, dtype: int64


ajcc
nd     54
iii    26
ii     22
i      18
iv      8
Name: count, dtype: int64


ALT
nd    20
15     8
19     7
16     7
20     6
27     6
21     6
12     6
18     5
17     5
22     5
10     5
13     5
23     4
25     4
24     4
11     4
28     3
31     3
35     2
14     2
33     2
69     1
34     1
55     1
30     1
68     1
 9     1
39     1
40     1
43     1
Name: count, dtype: int64


eGFR
nd        19
 70.19     2
 58.85     1
117.99     1
 16.81     1
          ..
 86.49     1
 87.92     1
101.33     1
 59.00     1
 89.30     1
Name: count, Length: 109, dtype: int64


fobt
nd    128
Name: count, dtype: int64


brinkman_index
nd    128
Name: count, dtype: int64


alcohol
nd    128
Name: count, dtype: int64


alcohol_numeric
nd    128
Name: count, dtype: int64


location
nd    128
Name: count, dtype: int64


hba1c
nd    128
Name: count, dtype: int64


disease_stage
nd    128
Name: count, dtype: int64


ThomasAM_2018a
study_name
ThomasAM_2018a    80
Name: count, dtype: int64


subject_id
VF50      1
VF55      1
VF56      1
VF60      1
VF65      1
         ..
GF16      1
GF17      1
GF18      1
VF00TL    1
VF02      1
Name: count, Length: 80, dtype: int64


body_site
stool    80
Name: count, dtype: int64


antibiotics_current_use
no    80
Name: count, dtype: int64


study_condition
CRC        29
adenoma    27
control    24
Name: count, dtype: int64


disease
adenoma                                    16
CRC                                        15
healthy                                    14
CRC;hypertension                            8
hypercholesterolemia                        5
adenoma;hypertension                        4
adenoma;hypercholesterolemia                4
hypertension                                3
CRC;hypercholesterolemia                    3
metastases                                  1
CRC;cholesterolemia                         1
hypertension;metastases                     1
T2D;adenoma                                 1
adenoma;metastases                          1
CRC;hypercholesterolemia;hypertension       1
adenoma;hypercholesterolemia;metastases     1
CRC;metastases                              1
Name: count, dtype: int64


age
77    7
64    6
70    5
67    5
58    5
63    4
60    4
61    4
69    4
78    3
71    3
57    3
68    2
83    2
84    2
59    2
53    2
66    2
80    2
74    2
75    1
55    1
73    1
50    1
62    1
81    1
82    1
76    1
56    1
79    1
49    1
Name: count, dtype: int64


age_category
senior    45
adult     35
Name: count, dtype: int64


gender
male      52
female    28
Name: count, dtype: int64


country
ITA    80
Name: count, dtype: int64


non_westernized
no    80
Name: count, dtype: int64


sequencing_platform
IlluminaHiSeq    80
Name: count, dtype: int64


DNA_extraction_kit
Qiagen    80
Name: count, dtype: int64


PMID
30936548    80
Name: count, dtype: int64


number_reads
 80721806    1
 87057802    1
111092954    1
 75609304    1
 55363092    1
            ..
 86578300    1
 67202998    1
 60734114    1
208138088    1
 58176306    1
Name: count, Length: 80, dtype: int64


number_bases
 8013368722    1
 8654388646    1
11012728796    1
 7518977822    1
 5476270020    1
              ..
 8612958984    1
 6647242890    1
 6033609356    1
20599056332    1
 5781837652    1
Name: count, Length: 80, dtype: int64


minimum_read_length
75    80
Name: count, dtype: int64


median_read_length
100    80
Name: count, dtype: int64


curator
Paolo_Manghi;Marisa_Metzger    80
Name: count, dtype: int64


BMI
24    11
25     9
22     8
23     7
30     7
26     7
29     5
21     5
nd     4
28     4
20     3
19     2
27     2
37     1
31     1
34     1
35     1
32     1
36     1
Name: count, dtype: int64


disease_subtype
adenocarcinoma    29
adenoma           27
nd                24
Name: count, dtype: int64


alcohol
no    76
nd     4
Name: count, dtype: int64


smoker
no    76
nd     4
Name: count, dtype: int64


ever_smoker
no    76
nd     4
Name: count, dtype: int64


diet
nd    80
Name: count, dtype: int64


fobt
nd    80
Name: count, dtype: int64


fasting_glucose
nd    80
Name: count, dtype: int64


brinkman_index
nd    80
Name: count, dtype: int64


NCBI_accession
nd    80
Name: count, dtype: int64


ALT
nd    80
Name: count, dtype: int64


creatinine
nd    80
Name: count, dtype: int64


ajcc
nd    80
Name: count, dtype: int64


location
nd    80
Name: count, dtype: int64


alcohol_numeric
nd    80
Name: count, dtype: int64


hdl
nd    80
Name: count, dtype: int64


triglycerides
nd    80
Name: count, dtype: int64


cholesterol
nd    80
Name: count, dtype: int64


eGFR
nd    80
Name: count, dtype: int64


hba1c
nd    80
Name: count, dtype: int64


ldl
nd    80
Name: count, dtype: int64


tnm
nd    80
Name: count, dtype: int64


disease_location
nd    80
Name: count, dtype: int64


disease_stage
nd    80
Name: count, dtype: int64


VogtmannE_2016
study_name
VogtmannE_2016    110
Name: count, dtype: int64


subject_id
MMRS99045180ST-27-0-0    1
MMRS11288076ST-27-0-0    1
MMRS11664448ST-27-0-0    1
MMRS11932626ST-27-0-0    1
MMRS12272136ST-27-0-0    1
                        ..
MMRS17963147ST-27-0-0    1
MMRS18295921ST-27-0-0    1
MMRS20257302ST-27-0-0    1
MMRS21365932ST-27-0-0    1
MMRS24340226ST-27-0-0    1
Name: count, Length: 110, dtype: int64


body_site
stool    110
Name: count, dtype: int64


study_condition
control    52
CRC        52
nd          6
Name: count, dtype: int64


disease
healthy    58
CRC        52
Name: count, dtype: int64


age
63    8
65    7
nd    6
71    5
66    4
67    4
70    3
42    3
48    3
69    3
56    3
53    3
55    3
54    3
68    3
60    3
72    3
58    3
76    3
51    2
62    2
84    2
64    2
59    2
74    2
79    2
73    2
40    2
31    2
57    2
45    2
49    1
39    1
82    1
43    1
61    1
83    1
89    1
85    1
44    1
78    1
47    1
37    1
36    1
Name: count, dtype: int64


age_category
adult     69
senior    41
Name: count, dtype: int64


gender
male      74
female    30
nd         6
Name: count, dtype: int64


country
USA    110
Name: count, dtype: int64


non_westernized
no    110
Name: count, dtype: int64


sequencing_platform
IlluminaHiSeq    110
Name: count, dtype: int64


DNA_extraction_kit
Gnome    110
Name: count, dtype: int64


PMID
27171425    110
Name: count, dtype: int64


number_reads
 43709835    1
 67924141    1
 85820299    1
 44412536    1
 67377964    1
            ..
 67350332    1
 73085334    1
 54403239    1
 72103979    1
 61178584    1
Name: count, Length: 110, dtype: int64


number_bases
 3764480856    1
 5793273464    1
 7389001007    1
 3583469911    1
 5546605088    1
              ..
 5570729597    1
 6384855556    1
 4649737800    1
 6082232011    1
 5032904033    1
Name: count, Length: 110, dtype: int64


minimum_read_length
45    55
 1    36
 5     7
 2     7
 6     5
Name: count, dtype: int64


median_read_length
90    45
89    37
84     7
88     7
85     5
93     5
91     3
94     1
Name: count, dtype: int64


NCBI_accession
ERR1293504;ERR1293503;ERR1293502;ERR1293501;ERR1293063;ERR1293062;ERR1293061;ERR1293060    1
ERR1293500;ERR1293499;ERR1293498;ERR1293497;ERR1293059;ERR1293058;ERR1293057;ERR1293056    1
ERR1293861;ERR1293860;ERR1293859;ERR1293858;ERR1293420;ERR1293419;ERR1293418;ERR1293417    1
ERR1293881;ERR1293880;ERR1293879;ERR1293878;ERR1293440;ERR1293439;ERR1293438;ERR1293437    1
ERR1293877;ERR1293876;ERR1293875;ERR1293874;ERR1293436;ERR1293435;ERR1293434;ERR1293433    1
                                                                                          ..
ERR1293621;ERR1293620;ERR1293619;ERR1293618;ERR1293180;ERR1293179;ERR1293178;ERR1293177    1
ERR1293568;ERR1293567;ERR1293566;ERR1293565;ERR1293127;ERR1293126;ERR1293125;ERR1293124    1
ERR1293761;ERR1293760;ERR1293759;ERR1293758;ERR1293320;ERR1293319;ERR1293318;ERR1293317    1
ERR1293653;ERR1293652;ERR1293651;ERR1293650;ERR1293212;ERR1293211;ERR1293210;ERR1293209    1
ERR1293584;ERR1293583;ERR1293582;ERR1293581;ERR1293143;ERR1293142;ERR1293141;ERR1293140    1
Name: count, Length: 110, dtype: int64


curator
Paolo_Manghi    110
Name: count, dtype: int64


BMI
nd          9
25.82185    4
23.49076    2
16.82518    2
22.14871    2
           ..
17.43206    1
25.68279    1
22.59168    1
31.37770    1
25.38108    1
Name: count, Length: 96, dtype: int64


diet
nd    110
Name: count, dtype: int64


fobt
nd    110
Name: count, dtype: int64


fasting_glucose
nd    110
Name: count, dtype: int64


brinkman_index
nd    110
Name: count, dtype: int64


ALT
nd    110
Name: count, dtype: int64


smoker
nd    110
Name: count, dtype: int64


disease_subtype
nd    110
Name: count, dtype: int64


alcohol
nd    110
Name: count, dtype: int64


creatinine
nd    110
Name: count, dtype: int64


ever_smoker
nd    110
Name: count, dtype: int64


ajcc
nd    110
Name: count, dtype: int64


location
nd    110
Name: count, dtype: int64


alcohol_numeric
nd    110
Name: count, dtype: int64


hdl
nd    110
Name: count, dtype: int64


triglycerides
nd    110
Name: count, dtype: int64


cholesterol
nd    110
Name: count, dtype: int64


eGFR
nd    110
Name: count, dtype: int64


hba1c
nd    110
Name: count, dtype: int64


antibiotics_current_use
nd    110
Name: count, dtype: int64


ldl
nd    110
Name: count, dtype: int64


tnm
nd    110
Name: count, dtype: int64


disease_location
nd    110
Name: count, dtype: int64


disease_stage
nd    110
Name: count, dtype: int64


YachidaS_2019
study_name
YachidaS_2019    616
Name: count, dtype: int64


subject_id
sub_12396    1
sub_10219    1
sub_10226    1
sub_10229    1
sub_10231    1
            ..
sub_10334    1
sub_10318    1
sub_10322    1
sub_10323    1
sub_10324    1
Name: count, Length: 616, dtype: int64


body_site
stool    616
Name: count, dtype: int64


study_condition
CRC                          258
control                      251
adenoma                       67
carcinoma_surgery_history     40
Name: count, dtype: int64


disease
CRC                          258
healthy                      246
adenoma                       67
carcinoma_surgery_history     40
few_polyps                     5
Name: count, dtype: int64


age
73    28
69    28
64    28
70    27
66    26
65    25
67    21
68    20
74    20
72    20
63    19
62    19
61    19
58    19
59    18
71    18
55    17
76    17
78    14
60    14
51    14
77    14
75    13
52    12
49    12
57    12
54    11
47    10
46    10
50     9
48     8
45     7
40     7
44     7
53     6
42     6
56     6
38     5
41     5
37     4
43     4
79     3
30     2
32     2
34     2
35     2
28     1
39     1
31     1
21     1
27     1
33     1
Name: count, dtype: int64


age_category
adult     347
senior    269
Name: count, dtype: int64


gender
male      358
female    258
Name: count, dtype: int64


country
JPN    616
Name: count, dtype: int64


non_westernized
no    616
Name: count, dtype: int64


sequencing_platform
IlluminaHiSeq    616
Name: count, dtype: int64


PMID
31171880    616
Name: count, dtype: int64


number_reads
 34575120    1
 84641274    1
 47470646    1
 35960640    1
 63387808    1
            ..
 54563590    1
 69990810    1
 65573845    1
 55812132    1
 30268220    1
Name: count, Length: 616, dtype: int64


number_bases
 5076142163    1
11889864466    1
 6605044144    1
 5303768237    1
 9103761343    1
              ..
 7346552018    1
 9730440555    1
 9023711379    1
 7815282738    1
 4434834196    1
Name: count, Length: 616, dtype: int64


minimum_read_length
50    616
Name: count, dtype: int64


median_read_length
150    578
151     38
Name: count, dtype: int64


curator
Paolo_Manghi    616
Name: count, dtype: int64


BMI
23.66524    5
23.87511    5
24.60938    5
24.60973    4
22.22906    4
           ..
25.41090    1
28.38480    1
25.81663    1
26.12245    1
19.63112    1
Name: count, Length: 451, dtype: int64


disease_location
nd                                    358
rectum                                 95
right_colon                            83
left_colon                             69
left_colon_and_right_colon              7
left_colon_and_rectum                   2
rectum_and_left_colon                   1
rectum,_left_colon_and_right_colon      1
Name: count, dtype: int64


ajcc
nd     358
i       75
0       73
iii     51
ii      36
iv      23
Name: count, dtype: int64


brinkman_index
   0    254
 300     15
 800     11
 400     11
 600     11
       ...
1170      1
  48      1
 280      1
  56      1
 525      1
Name: count, Length: 143, dtype: int64


alcohol_numeric
   0.00000    250
 180.00000     12
 813.00000     11
 633.00000     10
 549.90000      9
             ...
  96.96000      1
 430.00000      1
 556.50000      1
 696.00000      1
 618.35700      1
Name: count, Length: 204, dtype: int64


DNA_extraction_kit
Gnome    616
Name: count, dtype: int64


diet
nd    616
Name: count, dtype: int64


fobt
nd    616
Name: count, dtype: int64


fasting_glucose
nd    616
Name: count, dtype: int64


NCBI_accession
nd    616
Name: count, dtype: int64


ALT
nd    616
Name: count, dtype: int64


smoker
nd    616
Name: count, dtype: int64


disease_subtype
nd    616
Name: count, dtype: int64


alcohol
nd    616
Name: count, dtype: int64


creatinine
nd    616
Name: count, dtype: int64


ever_smoker
nd    616
Name: count, dtype: int64


location
nd    616
Name: count, dtype: int64


hdl
nd    616
Name: count, dtype: int64


triglycerides
nd    616
Name: count, dtype: int64


cholesterol
nd    616
Name: count, dtype: int64


eGFR
nd    616
Name: count, dtype: int64


hba1c
nd    616

# Write curated metadata

In [18]:
# for study, header in metadata.items():
#     print(header.T['disease'].value_counts())

In [19]:
# import the normalized datasets
# remove the metadata header
# add the curated metadata header
# write to a new file (which is then transfered to the container)

def get_paths(study, path):
    paths = [os.path.join(path, fname) for fname in os.listdir(path) if study in fname]    
    return  paths

def add_header(df1, df2):
    final_df = pd.concat([df1, df2], ignore_index=True)
    return final_df

def write_csv(final_df, fname):
    final_df.to_csv(fname, index=False)

In [20]:
for study, header in metadata.items():
    header.reset_index(inplace=True)
    header.rename(columns={"index":"Unnamed: 0"}, inplace=True)
    data_files = get_paths(study, normalized_data)
    for fname in data_files:
        output_name = fname.replace("/normalized/", "/normalized/final/")
        output_name = output_name.replace("normalized_CRC", "CRC")
        data = import_data(fname, skiprows=209)
        final_data = add_header(header, data)
        write_csv(final_data, output_name)